* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 100vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column;
}

.gameBoard {
  background: rgba(0, 0, 0, 0.517);
  width: 100vmin;
  flex: 5;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.menu {
  background: darkgray;
  width: 100vmin;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sky {
  background: lightblue;
}
.dirt {
  background: url("./assets/imgs/land.webp") no-repeat center center/cover;
}
.grassDirt {
  background: url("./assets/imgs/grassLand.webp") no-repeat center center/cover;
}
.trunk {
  background: url("./assets/imgs/trunk.webp") no-repeat center center/cover;
}
.rocks {
  background: url("./assets/imgs/stone.webp") no-repeat center center/cover;
}
.tree {
  background: url("./assets/imgs/tree.webp") no-repeat center center/cover;
}

.tool,
.kind {
  cursor: pointer;
  width: 3rem;
  margin-right: 1rem;
}
.kind {
  margin-right: 0.5rem;
  display: flex;
  height: 3rem;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.squareDelets {
  display: flex;
}
.rockImg {
  background: url("./assets/imgs/stone.webp") no-repeat center center/cover;
}
.threeImg {
  background: url("./assets/imgs/tree.webp") no-repeat center center/cover;
}
.trunkImg {
  background: url("./assets/imgs/trunk.webp") no-repeat center center/cover;
}
.dirtImg {
  background: url("./assets/imgs/land.webp") no-repeat center center/cover;
}
